
    <%= @sub.name %>


  <%= @sub.description %>

  <%= link_to "Make New Post", new_post_url %>

  <ol>
    <% @sub.posts.each do |post| %>
      <li> <%= link_to post.title, post %></li>
    <% end %>
  </ol>



  <%= link_to "Edit", edit_sub_url(@sub) if @sub.moderator == current_user %>
